.collection-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 1rem 0;
}
.collection h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.collection a {
  width: 100%;
  text-decoration: none;
  color: var(--black);
}
.collection-headline {
  display: grid;
  grid-template-columns: 1fr 200px repeat(3, 1fr);
  justify-items: center;
  margin: 1rem;
}
.collection-headline p {
  text-align: center;
  width: 60px;
  border-bottom: 2px solid var(--accent-500);
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--accent);
}
.product-item {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 200px repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: 1rem 0;
  border-radius: 1rem;
  background-color: var(--accent-100);
}
.product-item img {
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  padding: 0.2rem;
  border: 2px solid var(--accent);
}
.product-item .product-item-name {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
}
.product-item .product-item-price,
.product-item-offer {
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 700;
}
.product-item .product-item-stock {
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (max-width: 720px) {
  .collection-headline {
    display: none;
  }
  .product-item {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 2rem);
    justify-items: center;
    align-items: center;
    text-align: left;
    padding: 1rem;
    gap: 1rem;
  }
  .product-item img {
    width: 150px;
    grid-column: 1;
    grid-row: 2/4;
  }
  .product-item .product-item-price,
  .product-item-offer,
  .product-item-name,
  .product-item-stock {
    width: 100%;
    height: 100%;
    grid-column: 2;
  }
  .product-item .product-item-name {
    padding: 0;
    text-wrap: nowrap;
  }
}
@media screen and (max-width: 640px) {
  .product {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-item {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
  }
  .product-item img {
    width: 100%;
    grid-row: 1;
    grid-column: 1/3;
  }
  .product-item .product-item-name {
    grid-column: 1/3;
    grid-row: 2;
  }
  .product-item .product-item-offer {
    grid-column: 2;
    grid-row: 3;
  }
  .product-item .product-item-price {
    grid-column: 1;
    grid-row: 3;
  }
  .product-item .product-item-stock {
    grid-column: 1/3;
    grid-row: 4;
  }
}
