.container .shop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 2;
  grid-column: 2;
}
.grid .shop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 2;
  grid-column: 1/3;
}

.all-products {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.product-item {
  width: 100%;
  padding: 1rem;
  background-color: var(--accent-100);
  border-radius: 1rem;
}
.product-item a {
  text-decoration: none;
  color: var(--black);
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.item img {
  width: 100%;
  height: 250px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}
.item-title {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 1.6;
}
.price-offer {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.name {
  width: 60%;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.price {
  font-weight: 700;
  font-size: 1.3rem;
}
.offer {
  width: 80%;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--accent-200);
}
@media screen and (max-width: 720px) {
  .container .shop {
    grid-row: 2;
    grid-column: 1/3;
  }
}
